@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Hello From Products Create</h1>
<div class="row">
    <div class="col md3"></div>
    <div class="col md9">
        <h3>Add a new Product to the Line</h3>
       <form method="post" asp-action="Create" asp-controller="Products" enctype="multipart/form-data">
           <label for="name">Product Name</label>
           <input type="text" id="name" required name="name" />
           <br />
           <label for="cost">Product Cost</label>
           <input type="number" id="cost" required name="cost" />
           <br />
           <label for="country">Product Origin</label>
           <input type="text" id="country" required name="country" />
           <br />
           <label for="picture">Product Image</label>
           <br />
           <input type="file" id="picture" required name="picture" />
           <br />
           <input class="btn purple" type="submit" value="Add Product"/>
           <br />
       </form>
    </div>
</div>