<!DOCTYPE html>

<html>
<head>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="background-image:url(http://www.albanesecandy.com/candy-store/images/products/popup/12-flavor-gummi-bears_7.jpg)">
    <nav>
        <div class="nav-wrapper purple">
            <a href="/" class="brand-logo">Gummi Bear Kingdom</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/Products">Products</a></li>
                
            </ul>
        </div>
    </nav>
    <div class="container" style="color:lightgrey; background-color:rgba(0,0,255,0.3);border-radius:10px">
        @RenderBody()
    </div>
</body>
</html>
